name: Deploy docs site to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout the `docs` branch
        uses: actions/checkout@v4
        with:
          ref: 'docs'

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v3

      - name: Upload site artifact
        # Use v2 which depends on the non-deprecated upload-artifact v4
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./site
